Nacionalidad<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Nacionalidad</title>
</head>
<body>
    <h1>Editar Nacionalidad</h1>
    <form action="{{ url_for('author.edit', id=author.id) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ author.nombre }}" required>
        <label for="nacionalidad">Nacionalidad:</label>
        <input type="text" id="nacionalidad" name="nacionalidad" value="{{ author.nacionalidad }}" required>
        <button type="submit">Actualizar Nacionalidad</button>
    </form>
</body>
</html>
